In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import *
from sklearn.model_selection import train_test_split 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(style="ticks")

In [4]:
iris = load_iris()

In [5]:
for x in iris:
    print(x)

data
target
frame
target_names
DESCR
feature_names
filename

In [10]:
data1 = pd.DataFrame(data= np.c_[iris['data']],
                     columns= iris['feature_names'])

In [13]:
# первые 5 строк датасета
data1

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [24]:
X = data1[["sepal length (cm)", "sepal width (cm)", "petal length (cm)"]]
X

     sepal length (cm)  sepal width (cm)  petal length (cm)
0                  5.1               3.5                1.4
1                  4.9               3.0                1.4
2                  4.7               3.2                1.3
3                  4.6               3.1                1.5
4                  5.0               3.6                1.4
..                 ...               ...                ...
145                6.7               3.0                5.2
146                6.3               2.5                5.0
147                6.5               3.0                5.2
148                6.2               3.4                5.4
149                5.9               3.0                5.1

[150 rows x 3 columns]

In [25]:
Y = data1[["petal width (cm)"]]
Y

     petal width (cm)
0                 0.2
1                 0.2
2                 0.2
3                 0.2
4                 0.2
..                ...
145               2.3
146               1.9
147               2.0
148               2.3
149               1.8

[150 rows x 1 columns]

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(
X, Y, test_size=0.33, random_state=42)

In [27]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)
96                 5.7               2.9                4.2
105                7.6               3.0                6.6
66                 5.6               3.0                4.5
0                  5.1               3.5                1.4
122                7.7               2.8                6.7
..                 ...               ...                ...
71                 6.1               2.8                4.0
106                4.9               2.5                4.5
14                 5.8               4.0                1.2
92                 5.8               2.6                4.0
102                7.1               3.0                5.9

[100 rows x 3 columns]

In [28]:
Y_train

     petal width (cm)
96                1.3
105               2.1
66                1.5
0                 0.2
122               2.0
..                ...
71                1.3
106               1.7
14                0.2
92                1.2
102               2.1

[100 rows x 1 columns]

In [29]:
X_test

     sepal length (cm)  sepal width (cm)  petal length (cm)
73                 6.1               2.8                4.7
18                 5.7               3.8                1.7
118                7.7               2.6                6.9
78                 6.0               2.9                4.5
76                 6.8               2.8                4.8
31                 5.4               3.4                1.5
64                 5.6               2.9                3.6
141                6.9               3.1                5.1
68                 6.2               2.2                4.5
82                 5.8               2.7                3.9
110                6.5               3.2                5.1
12                 4.8               3.0                1.4
36                 5.5               3.5                1.3
9                  4.9               3.1                1.5
19                 5.1               3.8                1.5
56                 6.3               3.3                4.7
104                6.5               3.0                5.8
69                 5.6               2.5                3.9
55                 5.7               2.8                4.5
132                6.4               2.8                5.6
29                 4.7               3.2                1.6
127                6.1               3.0                4.9
26                 5.0               3.4                1.6
128                6.4               2.8                5.6
131                7.9               3.8                6.4
145                6.7               3.0                5.2
108                6.7               2.5                5.8
143                6.8               3.2                5.9
45                 4.8               3.0                1.4
30                 4.8               3.1                1.6
22                 4.6               3.6                1.0
15                 5.7               4.4                1.5
65                 6.7               3.1                4.4
11                 4.8               3.4                1.6
42                 4.4               3.2                1.3
146                6.3               2.5                5.0
51                 6.4               3.2                4.5
27                 5.2               3.5                1.5
4                  5.0               3.6                1.4
32                 5.2               4.1                1.5
142                5.8               2.7                5.1
85                 6.0               3.4                4.5
86                 6.7               3.1                4.7
16                 5.4               3.9                1.3
10                 5.4               3.7                1.5
81                 5.5               2.4                3.7
133                6.3               2.8                5.1
137                6.4               3.1                5.5
75                 6.6               3.0                4.4
109                7.2               3.6                6.1

In [30]:
Y_test

     petal width (cm)
73                1.2
18                0.3
118               2.3
78                1.5
76                1.4
31                0.4
64                1.3
141               2.3
68                1.5
82                1.2
110               2.0
12                0.1
36                0.2
9                 0.1
19                0.3
56                1.6
104               2.2
69                1.1
55                1.3
132               2.2
29                0.2
127               1.8
26                0.4
128               2.1
131               2.0
145               2.3
108               1.8
143               2.3
45                0.3
30                0.2
22                0.2
15                0.4
65                1.4
11                0.2
42                0.2
146               1.9
51                1.5
27                0.2
4                 0.2
32                0.1
142               1.9
85                1.6
86                1.5
16                0.4
10                0.2
81                1.0
133               1.5
137               1.8
75                1.4
109               2.5